/*(0,0,1)*/
footer {
    text-align: center;
}

/*(0,0,1)*/
form{
    display: flex;
    justify-content: center;
}

/*(0,0,1)*/
h1{
    text-align: center;
}

/*(0,1,0)*/
.teclas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
}

/*(1,0,0)*/
#pila {
    overflow: scroll;
    display: block;
    font-size: 17pt;
    text-align: right;
    height: 6em;
    grid-column: span 7;
    background-color: rgb(220, 228, 235);;
}

/*(1,0,0)*/
#pantalla{

    text-align: right;
    padding: 0.3em;
    font-size: 3em;
    grid-column: span 7;
    background-color: rgb(193, 204, 212);
}

/*(1,0,0)*/
#enter{
    grid-row-end: span 2;
    grid-column-end: span 2;
}


/*(0,1,1)*/
input[type="submit"]{
    padding: 2rem;
    font-size: 1.5em;
}

/* Por motivos de accesibilidad se provee una label que podrá ser leída por screen readers
pero que no se muestra visualmente ya que su significado se deriva por contexto */
.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/************************ COLORES ****************************/

/*(0,1,1)*/
.digito{
    color: rgb(49, 67, 80); 
    background-color: rgb(193, 204, 212);
}

/*(0,2,1)*/
.digito:hover{
    color: rgb(49, 67, 80); 
    background-color: rgb(169, 178, 185);
}

/*(1,0,0)*/
#limpiar, #borrar{
    color: rgb(63, 39, 45); 
    background-color: rgb(175, 133, 139);
}

/*(1,1,0)*/
#limpiar:hover, #borrar:hover {
    color: rgb(246, 198, 198); 
    background-color: rgb(139, 85, 89);
}

/*(1,0,0)*/
#on{
    color: rgb(228, 212, 216); 
    background-color: rgb(39, 38, 38);
}

/*(1,1,0)*/
#on:hover{
    background-color: rgb(76, 75, 75);
}

/*(1,0,0)*/
#enter{
    color: rgb(180, 165, 235); 
    background-color: rgb(64, 51, 85);
}

/*(1,1,0)*/
#enter:hover {
    color: rgb(246, 198, 198); 
    background-color: rgb(108, 84, 124);
}

/*(0,1,1)*/
.memoria, .operaciones{
    color:  rgb(193, 204, 212);
    background-color:rgb(49, 67, 80);
}

/*(0,2,1)*/
.memoria:hover, .operaciones:hover  {
    background-color: rgb(36, 50, 59);
}

/*(0,1,0)*/
.avanzadas{
    color:  rgb(193, 204, 212);
    background-color:rgb(74, 101, 121);
}

/*(0,2,0)*/
.avanzadas:hover{
    background-color: rgb(59, 82, 97);
}

/**************************** MEDIA QUERIES ************************/
@media screen and (max-width: 600px) {

    /*(1,0,0)*/
    #pantalla{
        text-align: center;
    }
    /*(0,1,0)*/
    .teclas{
        width: 100%;
    }

}